/* GLOBALS */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-size: 22px;
	--first-bg-color: #9c6ade;
	--second-bg-color: #e3d0ff;
	--third-bg-color: #a8dbd1;
	--fourth-bg-color: #feddc5;
}

/* CONTAINER */

.container {
	width: 850px;
	margin: 0 auto;
}

/* HEADER */

.notice {
	display: none;
}

.nav-list {
	display: none;
}

.nav-link {
	font-size: 0px;
	display: block;
	width: 165px;
	height: 41px;
	background-image: url("../img/logo.png");
}

.menu-button {
	font-size: 0px;
	display: block;
	width: 100px;
	height: 80px;
	background-color: var(--second-bg-color);
}

.main-nav {
	display: flex;
	justify-content: space-between;
	align-content: center;
}

/* MAIN */

/* Community section */

.community {
	background-color: var(--fourth-bg-color);
	padding-bottom: 20px;
}

.community .container {
	background-image: url("../img/community-image-1.png"), url("../img/community-image-2.png");
	background-repeat: no-repeat;
	background-position: left bottom, right bottom;
	padding: 10px 0 250px 0;
}

.community-title {
	font-size: 60px;
}

.community-field {
	width: 200px;
	height: 54px;
	border: 1px solid var(--second-bg-color);
	font-size: 14px;
}

.community-button {
	width: 120px;
	height: 58px;
	background-color: var(--second-bg-color);
	color: var(--first-bg-color);
	text-align: center;
	border: none;
	font-size: 14px;
	margin-left: -5px;
	cursor: pointer;
}

/* Management section */

.management {
	background-color: var(--second-bg-color);
	padding: 10px 0;
}

.management-list {
	display: flex;
	flex-wrap: wrap;
}

.management-link {
	display: none;
}

.list-item:nth-child(1) {
	font-size: 0;
	display: block;
	width: 238px;
	height: 120px;
	background-image: url("../img/facebook-logo.png");
	background-repeat: no-repeat;
	background-size: 238px 120px;
}

.list-item:nth-child(2) {
	font-size: 0;
	display: block;
	width: 238px;
	height: 120px;
	background-image: url("../img/intuit-logo.png");
	background-repeat: no-repeat;
	background-size: 210px 40px;
}

.list-item:nth-child(3) {
	font-size: 0;
	display: block;
	width: 238px;
	height: 120px;
	background-image: url("../img/google-logo.png");
	background-repeat: no-repeat;
	background-size: 185px 63px;
}

.list-item:nth-child(4) {
	font-size: 0;
	display: block;
	width: 238px;
	height: 120px;
	background-image: url("../img/linkedin-logo.png");
	background-repeat: no-repeat;
	background-size: 225px 59px;
}

.list-item:nth-child(5) {
	font-size: 0;
	display: block;
	width: 238px;
	height: 120px;
	background-image: url("../img/stripe-logo.png");
	background-repeat: no-repeat;
	background-size: 202px 96px;
}

.list-item:nth-child(6) {
	font-size: 0;
	display: block;
	width: 238px;
	height: 120px;
	background-image: url("../img/uber-logo.png");
	background-repeat: no-repeat;
	background-size: 194px 118px;
}

/* Launch section */

.launch {
	background-color: #a8dbd1;
	padding: 10px 0;
}

.launch .container {
	background-image: url("../img/startup.png");
	background-repeat: no-repeat;
	background-position: 440px 200px;
}

.launch-container:nth-child(2) {
	display: flex;
	flex-direction: column;
}

/* Sharing section */

.sharing {
	background-color: var(--fourth-bg-color);
}

.sharing .container {
	background-image: url("../img/enthusiasm-2.png"), url("../img/enthusiasm-1.png");
	padding: 10px 0 300px;
	background-repeat: no-repeat;
	background-position: left bottom, right bottom;
	background-size: 300px 300px, 300px 300px;	
}
.page-footer .container .footer-container{
	background-image: url("../img/stanford.jpg");
	background-color: rgba(139, 0, 255, 0.3);
	background-blend-mode: multiply;
	padding:100px 50px 400px 50px;
	width: 850px;
}
.page-footer .container{
	display: flex;
}
.footer-aside{
	display: none;
}
.page-footer{
		background-color: rgba(139, 0, 255, 0.3);
}