body {
	margin: 0;
	padding: 0;
	font-size: 22px;
	font-family: sans-serif;
	--first-color:#9c6ade;
	--second-color:#e3d0ff;
	--third-color:#a8dbd1;
	--fourth-color:#feddc5;
}

/* CONTAINER */
.container {
	width: 850px;
	margin: 0 auto;
}

/* HEADER */
.notice {
	display: none;
}

.nav-list {
	display: none;
}

.nav-link {
	font-size: 0px;
	display: block;
	width: 165px;
	height: 41px;
	background-image: url("../img/logo.png");
}

.menu-button {
	font-size: 0px;
	display: block;
	width: 100px;
	height: 80px;
	background-color: var(--second-color);
}

.main-nav {
	display: flex;
	justify-content: space-between;
	align-content: center;
}

/* MAIN */

/* Community section */

.community {
	background-color: var(--fourth-color);
	padding-bottom: 20px;
}

.community .container {
	background-image: url("../img/community-image-1.png"), url("../img/community-image-2.png");
	background-repeat: no-repeat;
	background-position: left bottom, right bottom;
	padding: 10px 0 250px 0;
}

.community-title {
	font-size: 60px;
}

.community-field {
	width: 200px;
	height: 54px;
	border: 1px solid var(--second-color);
	font-size: 14px;
}

.community-button {
	width: 120px;
	height: 58px;
	background-color: var(--second-color);
	color: var(--first-color);
	text-align: center;
	border: none;
	font-size: 14px;
	margin-left: -5px;
	cursor: pointer;
}
